html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: black;
  background-image: "images/steven.jpg";
  background-repeat: no-repeat;
  background-position: bottom left;
  color: white;
  min-height: 100%;
}

h1 {
  color: fuchsia;
}

h2 {
  color: fuchsia;
}